# ModelSim / QuestaSim
*.rpt
work/
*.vcd
transcript
vsim.wlf
*.vstf
*.cr.mti
*.mpf

# Quartus build artifacts
*.qsys*
.qsys_edit/
db/
incremental_db/
simulation/
output_files/
*.txt

# Quartus TCL scripts (generated)
*.tcl

# MATLAB
*.asv
*.fig