# ModelSim / QuestaSim
*.rpt
work/
work_verilog/
*.vcd
transcript
vsim.wlf
*.vstf
*.cr.mti
*.mpf
*.ini

# Quartus build artifacts
*.qsys*
.qsys_edit/
db/
incremental_db/
simulation/
output_files/
*.txt

# Quartus TCL scripts (generated)
*.tcl

# MATLAB
*.asv
*.fig